body {
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
    background: #eeeeee;
}
.Selectable .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
    background-color: #4a90e2 !important;
    color: #fff;
}
.Selectable .DayPicker-Day {
    border-radius: 0 !important;
}
.Selectable .DayPicker-Day--start {
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
}
.Selectable .DayPicker-Day--end {
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
}

/*.fade-entering {*/
    /*height: 0;*/
/*}*/
/*.fade-entered {*/
    /*height: 200px;*/
/*}*/
/*.fade-exiting{*/
    /*height: 0;*/
/*}*/
/*.fade-exited {*/
    /*height: 0;*/
/*}*/
.comments-form {
    /*text-align: center;*/
}
.red {
    outline: 2px solid red;
}