body {
    margin: 0;
    padding: 10px;
    font-family: sans-serif;
    background: #eeeeee;
}

/*.fade-entering {*/
    /*height: 0;*/
/*}*/
/*.fade-entered {*/
    /*height: 200px;*/
/*}*/
/*.fade-exiting{*/
    /*height: 0;*/
/*}*/
/*.fade-exited {*/
    /*height: 0;*/
/*}*/